<table class="table table-borderless order-table" *ngIf="patients != ''">
    <thead>
        <tr style="">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.first_name}}</td>
            <td>{{patient.last_name}}</td>
            <td>{{patient.phone_number}}</td>
            <td><a routerLink="/patient/{{patient.id}}">Detail</a></td>
        </tr>
    </tbody>
</table>